@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500&display=swap");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-base: 18px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
}
